
*.log
JavaBE/src/main/resources/TEMP/primo/new space/rinomino/renamed/rickroll.jpg
JavaBE/src/main/resources/TEMP/primo/new space/rinomino/files.jpg
IntegrationTesting/trace.zip
IntegrationTesting/src/test/resources/trace.zip
IntegrationTesting/src/test/resources/test-jarions-pre.properties
IntegrationTesting/src/test/resources/test-jarions-dev.properties
IntegrationTesting/src/test/resources/test-eclassic-pre.properties
IntegrationTesting/src/test/resources/test-eclassic-dev.properties
IntegrationTesting/src/test/resources/jarionsTrace.zip
IntegrationTesting/src/test/resources/eclassicTrace.zip
IntegrationTesting/src/main/resources/README.md
