/* button.css */
.grey-button {
    padding: 0.5rem 1rem;
    background: var(--menu-btn-color);
    border: none;
    border-radius: 5px;
    color: var(--menu-title-color);
    cursor: pointer;
    font-size: 1rem;
  }
  
  .grey-button:hover {
    background: var(--menu-btn-hover-color);
  }

    